body, html {
  height: 100%;
  margin: 0;
  background-color: #000000;
}

.full-height {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search-bar {
  margin-top: 20px;
  width: 50%;
}
h1 {
  color: white !important;
  font-size: 6em !important;
}


.heart-button {
  position: absolute; /* Position the element absolutely */
  top: -20px; /* 10px from the top of the page */
  right: 50px; /* 10px from the left of the page */
  font-size: 100px;
  color: red;
  margin-top: 10px;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

.heart-button.liked {
  color: pink;
  transform: scale(1.1);
}
