html {
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
}

main {
    padding: 2rem;
}

h1 {
    margin-left: 1rem;
    font-size: 90px;
    text-decoration: 4px underline;
    text-underline-offset: 8px;
    text-decoration-color: white;
    margin-left: 140px;
}

h2 {
    margin: 1rem 2rem;
    font-size: 25px;
}

p {
    width: fit-content;
}

a {
    width: 100px;
}


.all-jobs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.all-jobs-container {
    display: flex;
    flex-wrap: wrap;
}

.single-job-post {
    border: 1px solid white;
    max-width: 300px;
}

.job-post {
    height: 300px;
    width: 250px;
    border: 1px solid white;
    margin: 2rem;
}

.spacer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.url {
    width: fit-content;

}
.field.is-grouped > .control {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto; /* Adjust this as needed */
}

.input {
    width: auto; /* Allows you to control the width through flex-basis or add a specific width */
}

/* Optional: If you find the button size too large compared to the inputs */
.button.is-black {
    height: auto;
    padding: 10px 15px; /* Adjust padding to make the button smaller or larger */
}




.spacer {
    display: flex;
    justify-content: space-around;
    margin: 2rem 0;
}

.url {
    display: flex;
}

#search-save-container {
    display: flex;
    margin: 1rem;
    align-items: center;
}

#mini-search {
    margin: 0;
}