html {
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
}

main {
    padding: 2rem;
}

h1 {
    margin-left: 1rem;
    font-size: 40pt;
    text-decoration: 4px underline;
    text-underline-offset: 8px;
    text-decoration-color: white;
}

h2 {
    margin: 1rem 2rem;
    font-size: 25px;
}


a {
    width: 10px
}

.single-job-post {
    border: 1px solid white;
    max-width: 300px;
    flex-direction: ro
}

.job-post {
    height: 300px;
    width: 250px;
    border: 1px solid white;
    margin: 2rem;
}



